<ion-view view-title="Add device">
  <ion-content>
    <form ng-submit="addDevice()">
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Camera ID</span>
          <input type="text" placeholder="Camera ID" ng-model="addCamera.id">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Camera model</span>
          <input type="text" placeholder="Camera model" ng-model="addCamera.modele">
        </label>
        <div class="col col-33 col-offset-33">
          <button class="button button-block icon-center ion-plus button-outline button-balanced" type="submit"></button>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
