<ion-view cache-view="false" view-title="Devices">
  <ion-content id="page_content">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>

    <div class="col col-33 col-offset-33">
      <a href="#/app/add/device" class="button-block button button-outline button-positive">
        Add device
      </a>
    </div>
    <ion-list can-swipe="listCanSwipe" on-pulling="doRefresh()" cshow-delete="shouldShowDelete" show-reorder="shouldShowReorder">
      <ion-item ng-repeat="device in devices">
        <i class="icon ion-videocamera"></i>
        {{device.identifier}} - {{device.modele}}
        <ion-option-button class="button-assertive" ng-click="deleteDevice(device.id)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
