<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button ng-click="closeLogin()" class="button button-icon icon ion-ios-close-empty"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label"><i class="icon ion-person"></i> Username</span>
          <input type="text" placeholder="Username" ng-model="loginData.username">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label"><i class="icon ion-key"></i> Password</span>
          <input type="password" placeholder="Password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
      <div ng-show="errorLogin"><h3 class="assertive" style="text-align:center;"><i class="icon ion-heart-broken"></i> Identifians erronés !</h3></div>
    </form>
  </ion-content>
</ion-modal-view>
