<ion-view view-title="Welcome">
  <ion-content class="" id="contentHome">
    <div class="row">
      <div class="col col-85 col-offset-15">
        <div class="card">
          <h2 class="">Welcome</h2>
          <div class="item item-text-wrap">
          <div class="col col-100">
            <button class="button button-block icon-left ion-log-in button-outline button-positive" ng-click="login()">
              Login
            </button>
            <button class="button button-block icon-left ion-person-add button-outline button-balanced" ng-click="register()">
              Register
            </button>
          </div>
        </div>
      </div>
      </div>
    </div>
  </ion-content>
</ion-view>
